<div id="wrapper">
  <app-header></app-header>
  <div id="page-wrapper">
      <div class="container-fluid">
        
          <div class="center_div " >
            <br>
            <article class="card-body mx-auto" style="max-width: 350px;"> <br>  <br>  <br>
              
              <!--Verification code by user_name start-->
              <form #forgetPasswordForm="ngForm" id="sendCode" class="well " (ngSubmit)="sendCode()"> 

                <h3 class=" mt-3 text-center">Forget Password</h3><br>

                <div class="form-group input-group">
                      <span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                      <input name="user_name" #user_name="ngModel" [(ngModel)]="model.user_name" class="form-control" placeholder="Username" type="text">
                </div> <!-- form-group// -->
    

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Email Verification Code  </button>
                </div> <!-- form-group// -->      

              </form>
              <form #verifyCodeForm="ngForm" id="verifyCode" class="well " (ngSubmit)="verifyCode()"> 

                <h3 class=" mt-3 text-center"> Code Verification</h3><br>

                <div class="form-group input-group">
                      <span class="input-group-addon"> <i class="fa fa-user"></i> </span>
                      <input name="verification_code" #verification_code="ngModel" [(ngModel)]="entered_code" class="form-control" placeholder="Enter code" type="text">
                </div> <!-- form-group// -->
    

                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Next  </button>
                </div> <!-- form-group// -->      
                <p class="text-center">Still not getting code? <a (click)="sendCode()"><i class="fa fa-fw fa-edit"></i> Resend Code</a> </p>   
              </form>

              <!--Login form end-->

              <!--Error message-->
            </article>
          </div> <!-- card.// -->
          <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  
      </div>
  </div> 
</div>   