<div id="wrapper">
   <app-header></app-header>
   <div id="page-wrapper">
       <div class="container-fluid">

<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">
         View Problems<small></small>
      </h1>
      <ol class="breadcrumb">
         <li class="active">
            <i class="fa fa-dashboard"></i> &nbsp; Problems
         </li>
         <li class="active">
            <i class="fa fa-eye"></i> View
         </li>
      </ol>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
         <div id="name" style="font-size:25px">Name : </div>
   
   <div id="code" style="font-size:25px">
            Code : 
   </div>
   </div>
</div>

<hr id="hr">
<div id="content" style="font-size:17px"></div>
<hr id="hr">
<div id="testcase1"  class="tc" style="font-size:17px;display:none"><h3>Testcase 1</h3></div>
<div id="testcase2"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 2</h3></div>
<div id="testcase3"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 3</h3></div>
<div id="testcase4"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 4</h3></div>
<div id="testcase5"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 5</h3></div>
<div id="testcase6"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 6</h3></div>
<div id="testcase7"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 7</h3></div>
<div id="testcase8"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 8</h3></div>
<div id="testcase9"  class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 9</h3></div>
<div id="testcase10" class="tc" style="font-size:17px;display:none"><hr><h3>Testcase 10</h3></div>
<div style="padding-bottom:30px"></div>

</div>
</div>
</div>