<div id="wrapper">
  <app-header></app-header>
  <div id="page-wrapper">
     <div class="container-fluid">
        <article class="card-body mx-auto" style="max-width: 500px;">

<form #privacyForm="ngForm" class="form well" (ngSubmit)="resetPassword ()" >
  <h3 class=" mt-3 text-center">Reset Password</h3>
  <br>

  <div class="form-group row">
        <label class="col-lg-4 col-form-label form-control-label">New password</label>
        <div class="col-lg-8">
           <input class="form-control"  [(ngModel)]="model.newpassword" minlength="6" maxlength="20" type="password" name="newpassword" required>
        </div>
  </div>
  <div class="form-group row">
        <label class="col-lg-4 col-form-label form-control-label">Confirm password</label>
        <div class="col-lg-8">
           <input class="form-control"  [(ngModel)]="model.confirmpassword" type="password" name="confirmpassword" required>
        </div>
  </div>
  <div class="form-group row">
        <label class="col-lg-4 col-form-label form-control-label"></label>
        <div class="col-lg-8">
           <input type="submit" [disabled]="!privacyForm.valid " class="btn btn-primary" value="Save">
        </div>
     </div>
</form>

</article>
</div>
</div>
</div>
