<div id="wrapper">
  <app-header></app-header>
  <div id="page-wrapper">
      <div class="container-fluid">

<div class="row">
  <div class="col-lg-12">
     <h1 class="page-header">
        View Problems<small></small>
     </h1>
     <ol class="breadcrumb">
        <li class="active">
           <i class="fa fa-dashboard"></i> &nbsp; Problems
        </li>
        <li class="active">
           <i class="fa fa-eye"></i> View
        </li>
     </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
        <div id="name" style="font-size:25px">Name : </div>
        <div id="code" style="font-size:25px">   Code : </div>
        <hr id="hr">
        <div id="content" style="font-size:17px"></div>
  </div>
</div>
<div class="row" style="padding: 30px 0px 50px 0px">
    <div class="col-md-10" style="display: flex;justify-content: center;">
        <button class="btn btn-primary center" (click)="onSubmit()">Submit</button>
    </div>
</div>



</div>
</div>
</div>